# NOTE: An issue is with the dependency of antlr4-python3-runtime.
# The current release of hydra-core and omegaconf requires antlr4-python3-runtime==4.9.3
# The leaderboard however requires antlr4-python3-runtime==4.11.*
# While it is possible to get the stable packages to work to us no clear workaround is known
# that is reliable.
# These are for the leaderboard 2.0 and Python 3.10
hydra-core @ git+https://github.com/facebookresearch/hydra.git@2e682d84e789d82dd11ab1f329f2dd1966fa6b54
omegaconf
antlr4-python3-runtime==4.11.1
cachetools
graphviz
matplotlib
networkx~=2.4
opencv_python~=4.5.5.64
numpy
pandas
py_trees==0.8.3
ruamel.yaml
ruamel.base
pygame
setuptools>=68.*
Shapely~=2.0.4
simple_watchdog_timer~=0.1.1
six
tabulate
requests
thread; python_version>="3.8"
typing_extensions
xmlschema~=1.0.18
transforms3d
dictor
ephem
six
simple-watchdog-timer
pexpect